# game binary (do not commit)
*.apk
*.apk:Zone.Identifier
*.cjs
.cdn
.cn-cdn
.cn-cdn.server-time-state
.coredns/coredns.exe
.database
.misc
.mitmproxy/mitmdump.exe
.mitmproxy/mitmproxy.exe
.mitmproxy/mitmweb.exe
.server-time-state
.unzip-temp
build
dist
mitm_redirect
node_modules
out
scripts/__pycache__
scripts/in
web/public/tailwind.css
